{%- comment -%}
    USAGE:
        {% include 'card',
            context: 'product' || 'article' || 'blog' ...,
            imageFile: <IMAGE>,
            title: <TITLE>,
            subtitle: <SUBTITLE>,
            cta_url: <LINK>,
            cta_text: <LINKTEXT>
        %}
{%- endcomment -%}

<a href="{{cta_url}}" class="card {{ context }}">
    {% include 'image',
        imageFile: imageFile,
        userSetAspectRatio: userSetAspectRatio
    %}
    {% if context == 'product' %}
        {% if product.metafields.custom.hover_image %}
            <div class="card--hover-image">
                {% include 'image',
                    imageFile: product.metafields.custom.hover_image,
                    userSetAspectRatio: userSetAspectRatio
                %}
            </div>
        {% endif %}
    {% endif %}
    <div class="text-block text-block--no-spacing flex flex-s-between m-flex-column">
        <div class="card--text">
            <h4>{{ title }}</h4>
            {% if subtitle %}
                <p class="grey">{{ subtitle }}</p>
            {% endif %}
        </div>
        <div class="card--cta">
            {% include 'button',
                text: cta_text,
                type: 'primary'
            %}
        </div>
    </div>
</a>