<section class="background-color__sand show" data-section-id="cookie-consent">
    <article>
        <p>Cookie Consent</p>
        <p>By using this website, you automatically accept that we use cookies. What for?</p>
        <button class="primary" onclick="toggleCookieConsent()">Accept</button>
    </article>
</section>

<script>
const cookieConsentModule = document.querySelector('[data-section-id="cookie-consent"]');
// If clicked for the first time.
const toggleCookieConsent = (e) => {
    sessionStorage.setItem("cookieConsent", true);
    cookieConsentModule.classList.add('hide');
}
// If already clicked.
if (sessionStorage.getItem("cookieConsent")) {
    cookieConsentModule.classList.remove('show')
}
</script>