<article 
    class="product-card span-3 t-span-4 m-span-6"
    {%- if product.metafields.product.hover_image -%}data-hover-image{%- endif -%}>
    <a href="{{ product.url }}">
        <div class="product-card-main-container">
            {% if product.metafields.product.hover_image %}
                {% include 'product-main-image' %}
            {% else %}
                <!-- No metafield image set - fallback to first in gallery -->
                {% include 'image', 
                    imageFile: product.featured_image,
                    userSetAspectRatio: 'ratio-2-3',
                    userSetImageFit: 'contain'  
                %}
            {% endif %}
            {% include 'product-hover-image' %}
            <p class="product-card-price">{{ product.title }}</p>
        </div>
    </a>
    {% if context != 'product-recomendations' %}
        {% include 'product-variant-options',
            context: 'product-card' 
        %}
    {% else %}
        <p>{{ product.price | money_with_currency }}</p>
    {% endif %}
</article>