<section class="product-size-guide-container flex flex-center flex-middle" data-section-id="product-size-guide">
    <div class="gc">
        <div class="d-3-11 m-1-13 product-size-guide">
            <div class="product-size-guide-header flex flex-r flex-s-between">
                <p>Sandals</p>
                <button role="button" data-toggle-product-size-guide>
                    Close
                </button>
            </div>
            <p>*All Mara & Mine shoes are in US sizing only</p>
            <table>
                <tbody>
                    <tr>
                        <td>EU SHOE SIZE</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td>US SHOE SIZE</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td>UK SHOE SIZE</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                        <td>35</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>