<section class="splash-screen">
    <div class="logo">
        {% include 'logo.svg' %}
    </div>
    <div class="gc">
        <div class="d-1-7 t-1-13 wholesale">
            <div class="grid--single">
                <div class="flex flex-center flex-middle r-1 d-1-1">
                    <img src="https://cdn.shopify.com/s/files/1/0582/1284/3714/files/WHOLESALE.jpg?v=1629089592" alt="Wholesale">
                </div>
                <div class="flex flex-center flex-middle r-1 d-1-1">
                    <h2 class="h1 white">WHOLESALE</h2>
                </div>
            </div>
        </div>
        <div class="d-7-13 t-1-13 shop">
            <div class="grid--single">
                <div class="flex flex-center flex-middle r-1 d-1-1">
                    <img src="https://cdn.shopify.com/s/files/1/0582/1284/3714/files/SHOP.jpg?v=1629089592" alt="SHOP">
                </div>
                <div class="flex flex-center flex-middle r-1 d-1-1">
                    <h2 class="h1 white">SHOP</h2>
                </div>
            </div>
        </div>
    </div>
</section>