<section data-section-id="article-template">
    <div class="gc">
        <div class="d-2-5 t-1-6 m-1-13">
            <article>
                {% include 'heading', text: article.title %}
                <div class="text-block">
                    {{ article.content | markdown }}
                </div>
            </article>
        </div>
        {% if  article.metafields.accentuate.image != blank %}
            {% for value in article.metafields.accentuate.image %}
                {% assign productHandle = article.metafields.article.product[forloop.index] %}
                <div class="article-gallery-item" data-article-gallery-item-id="{{ forloop.index }}">
                    <a href="/products/{{ productHandle }}">
                        <div class="article-gallery-item-inner">
                            {% for image in value %}
                                {% include 'metafield-image',
                                    imageFile: image,
                                    userSetAspectRatio: 'ratio-2-3'  
                                %}
                            {% endfor %}
                            <p>{{ all_products[productHandle].title }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
