<section data-section-id={{ collection.handle }} data-products-per-page={{ section.settings.collection_pagination_number }}>
    <div class="gc collection-grid">
        <div class="collection-filters-container r-all">
            <div class="collection-filters sticky top-100">
                <h1 class="offset-bottom-small">{{ blog.title }}</h1>
                {% if section.blocks.size > 0 %}
                    {% include 'collection-filter-group', userSetFilterGroup: 'All' %}
                {% endif %}
            </div>
        </div>
    
        <div class="article-grid">
            {% for i in (1..9) %}
                {% for article in blog.articles %}
                    {% include 'article-card' 
                        context: 'blog',
                        hoverImage: false
                    %}
                    {% else %}
                    <p>no matches</p>
                {% endfor %}
            {% endfor %}
        </div>


        {% if paginate.pages > 1 %}
            <section class="d-2-3 t-1-6 m-1-13" data-section-id="collection-pagination">
                {% include 'accessible-pagination' %}
            </section>
        {% endif %}
    </div>
</section>