<section data-section-id="featured-products">
    <div class="gc">
        <div class="d-1-4 m-1-13 max-width-350">
            {% if section.settings.heading != blank %}
                {% include 'heading', text: section.settings.heading %}
            {% endif %}
        </div>
        
        {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
                {% include 'product-card', product: block.settings.featured_product %}
            {% endfor %}
        {% endif %}

    </div>
</section>

{% schema %}
{
    "settings": [
        {
            "type": "richtext",
            "id": "heading",
            "label": "Heading"
        }
    ],
    "blocks": [
        {
        "name": "Featured Product",
        "type": "product",
            "settings": [
                {
                    "type": "product",
                    "id": "featured_product",
                    "label": "Featured Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Mara & Mine",
            "name":"Featured Products"
        }
    ]
}
{% endschema %}