<footer>
    <div class="gc">

    </div>
</footer>

{% schema %}
{
    "blocks": [
        {
            "name": "Footer Menu",
            "type": "Navigation",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "link_list",
                    "id": "footer_menu",
                    "label": "Footer Menu"
                }
            ]
        }
    ]
}
{% endschema %}