<footer>
    <div class="gc">
        {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
                {% if block.footer_menu %}
                    <div class="span-4">
                        <ul>
                            {% for link in block.footer_menu.links %}
                                <li>
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="d-1-5 m-1-13">
            <h3>Follow us on socials</h3>
            {% if section.settings.instagram_url %}
                <a href="{{ section.settings.instagram_url }}">Instagram Icon</a>
            {% endif %}
            {% if section.settings.facebook_url %}
                <a href="{{ section.settings.facebook_url }}">Facebook Icon</a>
            {% endif %}
        </div>
    </div>
</footer>

{% schema %}
{
    "settings": [
        {
            "type": "url",
            "id": "instagram_url",
            "label": "Instagram Url"
        },
        {
            "type": "url",
            "id": "facebook_url",
            "label": "Facebook Url"
        }
    ],
    "blocks": [
        {
            "name": "Footer Menu",
            "type": "Navigation",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "link_list",
                    "id": "footer_menu",
                    "label": "Footer Menu"
                }
            ]
        }
    ]
}
{% endschema %}