<footer>
    <div class="gc">

    </div>
</footer>

{% schema %}
{
    "settings": [
        {
            "type": "url",
            "id": "instagram_url",
            "label": "Instagram Url"
        },
        {
            "type": "url",
            "id": "facebook_url",
            "label": "Facebook Url"
        }
    ],
    "blocks": [
        {
            "name": "Footer Menu",
            "type": "Navigation",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "link_list",
                    "id": "footer_menu",
                    "label": "Footer Menu"
                }
            ]
        }
    ]
}
{% endschema %}