<footer>
    <div class="gc">
        {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
                {% if block.footer_menu %}
                    <div class="span-4">
                        <ul>
                            {% for link in block.footer_menu.links %}
                                <li>
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="d-1-5 m-1-13">
            <h3>Follow us on socials</h3>
            <div class="button-group">
                {% if section.settings.instagram_url %}
                <a href="{{ section.settings.instagram_url }}">
                    <button>
                        <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.2647 2.55567C17.5315 2.55567 18.7325 3.0576 19.6408 3.95988C20.549 4.86216 21.045 6.06918 21.045 7.33596V16.8965C21.045 18.1633 20.543 19.3644 19.6408 20.2726C18.7385 21.1809 17.5315 21.6768 16.2647 21.6768H6.70412C5.43734 21.6768 4.2363 21.1749 3.32804 20.2726C2.41979 19.3703 1.92383 18.1633 1.92383 16.8965V7.33596C1.92383 6.06918 2.42576 4.86813 3.32804 3.95988C4.23032 3.05162 5.43734 2.55567 6.70412 2.55567H16.2647ZM16.2647 0.643555H6.70412C3.0233 0.643555 0.0117188 3.65514 0.0117188 7.33596V16.8965C0.0117188 20.5773 3.0233 23.5889 6.70412 23.5889H16.2647C19.9455 23.5889 22.9571 20.5773 22.9571 16.8965V7.33596C22.9571 3.65514 19.9455 0.643555 16.2647 0.643555Z" fill="black"/>
                            <path d="M17.6988 7.33595C16.904 7.33595 16.2647 6.69658 16.2647 5.90186C16.2647 5.10714 16.904 4.46777 17.6988 4.46777C18.4875 4.46777 19.1328 5.10714 19.1328 5.90186C19.1328 6.69658 18.4875 7.33595 17.6988 7.33595ZM11.4844 8.292C13.5937 8.292 15.3086 10.0069 15.3086 12.1162C15.3086 14.2255 13.5937 15.9405 11.4844 15.9405C9.37509 15.9405 7.66016 14.2255 7.66016 12.1162C7.66016 10.0069 9.37509 8.292 11.4844 8.292ZM11.4844 6.37989C8.31745 6.37989 5.74805 8.94929 5.74805 12.1162C5.74805 15.2832 8.31745 17.8526 11.4844 17.8526C14.6513 17.8526 17.2207 15.2832 17.2207 12.1162C17.2207 8.94929 14.6513 6.37989 11.4844 6.37989Z" fill="black"/>
                        </svg>
                    </button>
                </a>
            {% endif %}
            {% if section.settings.facebook_url %}
                <a href="{{ section.settings.facebook_url }}">
                    <button>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.5028 0.643555H2.09099C1.39188 0.643555 0.824219 1.21121 0.824219 1.91033V22.3222C0.824219 23.0213 1.39188 23.5889 2.09099 23.5889H12.2969V14.5064H9.55422V11.1602H12.2969V8.68639C12.2969 5.72261 14.3524 4.10926 16.9995 4.10926C18.2663 4.10926 19.6287 4.20487 19.9454 4.2467V7.34193H17.8361C16.396 7.34193 16.1211 8.02312 16.1211 9.02698V11.1602H19.551L19.1028 14.5064H16.1211V23.5889H22.5028C23.2019 23.5889 23.7696 23.0213 23.7696 22.3222V1.91033C23.7696 1.21121 23.2019 0.643555 22.5028 0.643555Z" fill="black"/>
                        </svg>
                    </button>
                </a>
            {% endif %}
            </div>
        </div>
    </div>
</footer>

{% schema %}
{
    "settings": [
        {
            "type": "url",
            "id": "instagram_url",
            "label": "Instagram Url"
        },
        {
            "type": "url",
            "id": "facebook_url",
            "label": "Facebook Url"
        }
    ],
    "blocks": [
        {
            "name": "Footer Menu",
            "type": "Navigation",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "link_list",
                    "id": "footer_menu",
                    "label": "Footer Menu"
                }
            ]
        }
    ]
}
{% endschema %}