<section class="home-intro full-width no-pad">
    <div class="gc">
        <div class="d-1-13 r-1" style="z-index: 1;">
            {% if section.settings.video %}
                <video playsinline muted loop autoplay no-controls>
                    <source src="{{ section.settings.video }}" />
                </video>
            {% endif %}
        </div>
        {% if section.settings.gradient == true %}
            <div class="d-1-13 r-1" style="z-index: 2;">
                <div class="gradient-overlay"></div>
            </div>
        {% endif %}
        <div class="d-4-10 m-2-12 r-1 flex flex-middle flex-center flex-column text-center text-block" style="z-index: 3;">
            {% if section.settings.hero_statement %}
                <blockquote class="x-large white">{{ section.settings.hero_statement | strip_html }}</blockquote>
            {% endif %}
            <div class="flex-r button-group">
                {% if section.settings.cta_one_link %}
                    {% include 'button' 
                        text: section.settings.cta_one_text,
                        url: section.settings.cta_one_link,
                        type: 'primary'
                    %}
                {% endif %}
                {% if section.settings.cta_two_link %}
                    {% include 'button' 
                        text: section.settings.cta_two_text,
                        url: section.settings.cta_two_link,
                        type: 'secondary'
                    %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "settings": [
        {
            "type": "text",
            "id": "video",
            "label": "Video Background",
            "info": "Upload a video file < 20mb to shopify / files and paste the link above."
        },
        {
            "type": "checkbox",
            "id": "gradient",
            "label": "Gradient Overlay?",
            "default": true
        },
        {
            "type": "richtext",
            "id": "hero_statement",
            "label": "Hero Statement"
        },
        {
            "type": "text",
            "id": "cta_one_text",
            "label": "Button One Text"
        },
        {
            "type": "url",
            "id": "cta_one_link",
            "label": "Button One Link"
        },
        {
            "type": "text",
            "id": "cta_two_text",
            "label": "Button Two Text"
        },
        {
            "type": "url",
            "id": "cta_two_link",
            "label": "Button Two Link"
        }
    ],
    "presets": [
        {
            "category": "Home",
            "name":"Home Intro"
        }
    ]
}
{% endschema %}