<section>
    <h1>{{ page.title }}</h1>
    <div class="gc">
        <div class="d-1-7">
            {% if section.settings.hero_image != blank %}
                {% include 'image', 
                    imageFile: section.settings.hero_image,
                    userSetAspectRatio: section.settings.hero_image_ratio,
                    imageBleed: section.settings.hero_image_bleed 
                %}
            {% endif %}
        </div>
        <div class="d-7-13">
            <div class="text-block">
                {% if section.settings.heading_a != blank %}
                    {% include 'heading', text: section.settings.heading_a %}
                {% endif %}
                {% if section.settings.paragraph_a != blank %}
                    <div>{{ section.settings.paragraph_a | html }}</div>
                {% endif %}
            </div>
            <div class="text-block">
                {% if section.settings.heading_b != blank %}
                    {% include 'heading', text: section.settings.heading_b %}
                {% endif %}
                {% if section.settings.paragraph_b != blank %}
                    <div>{{ section.settings.paragraph_b | html }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "settings": [
        {
            "type": "image_picker",
            "id": "hero_image",
            "label": "Hero Image"
        },
        {
            "type": "select",
            "id": "hero_image_ratio",
            "label": "Hero Image Ratio",
            "options": [
                {
                    "value": "ratio-3-2",
                    "label": "Landscape",
                    "group": "ratio"
                },
                {
                    "value": "ratio-2-3",
                    "label": "Portrait",
                    "group": "ratio"
                },
                {
                    "value": "ratio-1-1",
                    "label": "Square",
                    "group": "ratio"
                }
            ]
        },
        {
            "type": "select",
            "id": "hero_image_bleed",
            "label": "Hero Image Bleed",
            "options": [
                {
                    "value": "to-left",
                    "label": "To Left",
                    "group": "bleed"
                },
                {
                    "value": "to-right",
                    "label": "To Right",
                    "group": "bleed"
                },
                {
                    "value": "none",
                    "label": "None",
                    "group": "bleed"
                }
            ],
            "default": "none"
        },
        {
            "type": "text",
            "id": "heading_a",
            "label": "Heading A"
        },
        {
            "type": "richtext",
            "id": "paragraph_a",
            "label": "Paragraph A"
        },
        {
            "type": "text",
            "id": "heading_b",
            "label": "Heading B"
        },
        {
            "type": "richtext",
            "id": "paragraph_b",
            "label": "Paragraph B"
        }
    ]
}
{% endschema %}