<section data-section-id="about">
    <div class="gc">
        <div class="d-2-5 m-1-13">
            <h1 class="medium">{{ page.title }}</h1>
            <div class="text-block">
                {% if section.settings.intro_paragraph %}
                    {{ section.settings.intro_paragraph | markdown }}
                {% endif %}
            </div>
        </div>
        <div class="d-4-13 m-1-13">
            {% if section.settings.intro_image != blank%}
                {% include 'image', 
                    imageFile: section.settings.intro_image,
                    userSetAspectRatio: section.settings.intro_image_ratio,
                    imageBleed: section.settings.intro_image_bleed
                %}
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
    "settings": [
    {
        "type": "richtext",
        "id": "intro_paragraph",
        "label": "Intro Paragraph"
    },
    {
        "type": "image_picker",
        "id": "intro_image",
        "label": "Intro Image"
    },
    {
        "type": "select",
        "id": "intro_image_ratio",
        "label": "Intro Image Ratio",
        "options": [
            {
                "value": "ratio-3-2",
                "label": "Landscape",
                "group": "ratio"
            },
            {
                "value": "ratio-2-3",
                "label": "Portrait",
                "group": "ratio"
            },
            {
                "value": "ratio-1-1",
                "label": "Square",
                "group": "ratio"
            }
        ]
    },
    {
        "type": "select",
        "id": "intro_image_bleed",
        "label": "Intro Image Bleed",
        "options": [
            {
                "value": "to-left",
                "label": "To Left",
                "group": "bleed"
            },
            {
                "value": "to-right",
                "label": "To Right",
                "group": "bleed"
            },
            {
                "value": "none",
                "label": "None",
                "group": "bleed"
            }
        ],
        "default": "none"
    }
    ]
}
{% endschema %}