<section data-section-id="product-dropdowns">
    <div class="gc">
        <div class="d-4-10 m-1-13">
            {% if product.metafields.custom.whereToBuy %}
                <details>
                    <summary>Where to buy</summary>
                    <div class="text-block">{{ product.metafields.custom.whereToBuy | html }}</div>
                </details>
            {% endif %}
            {% if product.metafields.custom.recipes %}
                <details>
                    <summary>Recipes</summary>
                    <div class="text-block">{{ product.metafields.custom.whereToBuy | html }}</div>
                </details>
            {% endif %}
            {% if product.metafields.custom.ingredients %}
                <details>
                    <summary>Ingredients</summary>
                    <div class="text-block">{{ product.metafields.custom.ingredients | html }}</div>
                </details>
            {% endif %}
            {% if product.metafields.custom.more_information %}
                <details>
                    <summary>More Information</summary>
                    <div class="text-block">{{ product.metafields.custom.more_information | html }}</div>
                </details>
            {% endif %}
        </div>
    </div>
</section>