@font-face {
    font-family: $fontPrimary;
    src: url('https://cdn.shopify.com/s/files/1/2572/3714/files/HaasGrotDisp-55Roman.otf?v=1624416916');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
