.product--carousel {
    height: 100%;
    .swiper-button {
        bottom: 0;
        top: unset;
        &:after {
            display: none;
        }
        svg {
            width: 3rem;
        }
        &.swiper-button-next {
            svg {
                @include rotate(180deg);
            }
        }
    }
    .swiper-pagination-bullets {
        .swiper-pagination-bullet {
            opacity: 1;
            border: 1px solid $themeDarkGrey;
            background: transparent;
            &.swiper-pagination-bullet-active {
                background: $themeDarkGrey;
            }
        }
    }
}