html {
    font-family: $fontPrimary;
    color: $themeBlack;
}

body {
    font-size: 1.6rem;
}

h1,
h2, 
.h2 { 
    font-size: 3.5rem;
}

h3, .h3, .medium {
    font-size: 2.6rem;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: $themeBlack;
}

ul, 
p {
    margin-bottom: $spacingMedium;
    line-height: 1.125em;
}

button {
    font-family: $fontPrimary;
    font-size: 1.6rem;
}

.text-block {
    padding: 2rem 0;
}

b, .bold, strong {
    font-weight: bold;
}

.small {
    font-size: 1.4rem;
}