body {
    font-size: 1.6rem;
    font-family: 'Sofia-Regular';
}

h1, 
h2, 
h3, 
h4, 
h5, 
.bold, 
b, 
strong ,
blockquote,
button {
    font-family: 'Sofia-Bold';
}

// COLOURS
.white {
    color: $themeWhite;
}

.grey {
    color: $themeGrey;
}

h1, .h1,
h2, .h2 {
    font-size: 4.8rem;
    @include mobileOnly {
        font-size: 3rem;
    }
}

p {
    line-height: 150%;
}

h5, .h5 {
    font-size: 1.8rem;
}

button,
p {
    font-size: 1.6rem;
}

blockquote,
h3, .h3 {
    font-size: 3.6rem;
}

h4, .h4 {
    font-size: 2.4rem;
}

.text-center {
    text-align: center;
}

.text-block {
    margin: 1.6rem 0;
    h1,h2,h3,h4,h5,ul,p,b {
        margin-bottom: 1.6rem;
        // margin-bottom: 1em;
    }
    &.text-block--no-spacing {
        h1,h2,h3,h4,h5,ul,p,b {
            margin-bottom: 0;
        }
    }
}