// USE VARIABLES FOR GENERAL SETTINGS
@import '_variables.scss';
@import '_reset.scss';
@import '_flex.scss';
@import '_mixins.scss';
@import '_flex.scss';
@import '_grid.scss';
@import '_aspectRatios.scss';
@import '_fontFace.scss';
@import '_text.scss';
@import '_swiper.scss';
@import '_swiperCustom.scss';
@import '_goCart.scss';

.splash-screen {
    height: 100vh;
    width: 100%;
    position: relative;
    border: 2rem solid white;
    .logo {
        position: absolute;
        left: calc(50% - 60px);
        top: 4rem;
        background: white;
        border-radius: 50%;
        padding: 1rem;
    }
    .gc {
        grid-gap: 2rem;
        height: 100%;
        .wholesale {
            background: #EEEEEE;
        }
        .shop {
            background: #E6E6E6;
        }
    }
}

main {
    margin: 0 4rem;
    @include mobileOnly {
        margin: 0 2rem;
    }
}

header {
    background: $themeWhite;
    position: fixed;
    padding: 2rem;
    width: 100%;
    top: 0;
    z-index: 10;
    .logo {
        position: absolute;
        top: 0;
        background: $themeWhite;
        border-radius: 100px;
        padding: 1rem;
    }
    .navigation {
        ul {
            li:not(last-child) {
                margin-right: 1.6rem;
            }
            li {
                a {
                    font-family: 'Sofia-Bold';
                    @include transition(.2s all);
                }
                a.page-active, a:hover {
                    color: $themePurple;
                }
            }
        }
    }
    .cart-icon-container {
        position: relative;
        .js-go-cart-counter {
            top: 14px;
            left: 0;
            width: 100%;
            font-size: 12px;
            position: absolute;
            text-align: center;
        }
    }
    .search-form {
        max-width: 0;
        overflow-x: hidden;
        @include transition(.5s all);
        &.show {
            max-width: 100%;
        }
    }
}

.shopify-challenge__container {
    padding-top: $offsetLarge;
}

section {
    padding-bottom: 15rem;
    @include mobileOnly {
        padding-bottom: 4rem;
    }
    &.no-pad {
        padding-top: 0;
    }
    &.full-width {
        margin-left: -4rem;
        margin-right: -4rem;
        @include mobileOnly {
            margin-left: -2rem;
            margin-right: -2rem;
        }
    }
}

a {
    text-decoration: none;
    color: $themeBlack;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include transition(.2s all);
    &.loading {
        filter: blur(5px);
    }
}

.image-container {
    &.image-bleed-to-left {
        margin-left: -#{$siteMargin};
        width: calc(100% + #{$siteMargin});
        // Bleeds full screen on mobile
        @include mobileOnly {
            margin: 0 -2rem;
            width: calc(100% + 2rem + 2rem);
        }
    }
    &.image-bleed-to-right {
        margin-right: -#{$siteMargin};
        width: calc(100% + #{$siteMargin});
        @include mobileOnly {
            margin: 0 -2rem;
            width: calc(100% + 2rem + 2rem);
        }
    }
    &.image-bleed-full {
        margin: 0 -#{$siteMargin};
        width: calc(100% + #{$siteMargin} + #{$siteMargin});
        @include mobileOnly {
            margin: 0 -2rem;
            width: calc(100% + 2rem + 2rem);
        }
    }
    &.contain {
        img {
            object-fit: contain;
        }
    }
}

video {
    width: 100%;
    height: 100%;
}

button {
    padding: 1.5rem 2rem;
    border-radius: 4rem;
    border: none;
    background: transparent;
    cursor: pointer;
    &.primary {
        @include gradient(top left, $buttonPrimaryGradient);
        color: $themeWhite;
        &:hover {
            background-position: bottom right;
        }
    }
    &.secondary {
        background-color: $themeWhite;
        color: $themeBlack;
    }
    * {
        pointer-events: none;
    }
    &.text-link {
        background: none;
        padding: 0;
        margin-bottom: 1em;
        &:before {
            content: '← ';
            margin-right: 5px;
            display: inline-block;
        }
        &.next {
            &:before { content: ''; }
            &:after {
                content: ' →';
                margin-left: 5px;
                display: inline-block;
            }
        }
    }
}

.grid--single {
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
}

.collection--product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    position: relative;
    display: block;
    cursor: pointer;
    &.card--product {
        .card--product-inner-grid {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            .image-container, .card--hover-overlay {
                grid-row: 1;
                grid-column: 1;
            }
            .card--hover-overlay {
                z-index: 3;
                opacity: 0;
                background: rgba(0,0,0,0.4);
                @include transition(.2s all);
                p {
                    @include translateY(10px);
                    @include transition(transform .2s ease-in-out)
                }
            }
            &:hover {
                .card--hover-overlay {
                    opacity: 1;
                    p {
                        @include translateY(0);
                    }
                }
            }
        }
    }
    .card--hover-image {
        opacity: 0;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include transition(.2s all);
    }
    &:hover {
        .card--hover-image {
            opacity: 1;
        }
        button.primary {
            background-position: bottom right;
        }
    }
}
// *=================================*
// ====== PRODUCT PAGE ======
// *=================================*
.product--carousel {
    padding-bottom: 4rem;
}
// *=================================*
// ====== CART ======
// *=================================*
section[data-section-id="cart"] {
    .gc {
        row-gap: 0;
    }
}
.cart-page-title {
    margin-bottom: 6rem;
}
.checkout-ui {
    margin-top: 2rem;
}
.cart-header {
    padding-bottom: 2rem;
    border-bottom: 1px solid $themeBlack;
}
.cart-item {
    display: grid;
    grid-template-columns: 300px 4fr;
    grid-gap: 20px;
    position: relative;
    border-bottom: 1px solid $themeBlack;
    padding: 3rem 0;
    .line-price {
        position: absolute;
        bottom: 3rem;
        right: 0;
        margin-bottom: 0;
    }
}
// *=================================*
// ====== HOME INTRO ======
// *=================================*
.home-intro {
    @include mobileOnly {
        video {
            height: 80vh;
            object-fit: cover;
        }
    }
}
// *=================================*
// ====== WHOLESALE PAGE ======
// *=================================*
.wholesale-form {
    .flex-r {
        flex-wrap: wrap;
    }
}
input {
    padding: 1rem 2rem;
    border: 1px solid #E6E6E6;
}

label {
    display: block;
}

.wholesale-checkbox {
    display: none;
    + label {
        width: 100px;
        height: 100px;
        margin-right: 20px;
        margin-bottom: 20px;
        background: #E6E6E6;
        border-radius: 4px;
        text-align: center;
        font-weight: bold;
    }
    &:checked {
        + label {
            background: $themePurple;
            color: white;
        }
    }
}

.page, .success-message {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    @include transition(0s position, 0.3s opacity 0.3s ease-in-out);
    &.hide {
        position: fixed;
        opacity: 0;
        top: 100vh;
    }
    .text-link {
        width: fit-content;
    }
}

.progress-indicator {
    background: #E6E6E6;
    height: 5px;
    width: 100%;
    position: relative;
    margin: 20px 0;
    &:before {
        content: '';
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        @include transition(.2s all);
        width: calc(var(--current-page) * 12.5%);
        background: $themePurple;
    }
}