// USE VARIABLES FOR GENERAL SETTINGS
@import '_variables.scss';
@import '_reset.scss';
@import '_flex.scss';
@import '_mixins.scss';
@import '_flex.scss';
@import '_grid.scss';
@import '_aspectRatios.scss';
@import '_fontFace.scss';
@import '_text.scss';
@import '_swiper.scss';
@import '_swiperCustom.scss';
@import '_goCart.scss';

.splash-screen {
    height: 100vh;
    width: 100%;
    position: relative;
    border: 2rem solid white;
    .logo {
        position: absolute;
        left: calc(50% - 60px);
        top: 4rem;
        background: white;
        border-radius: 50%;
        padding: 1rem;
    }
    .gc {
        grid-gap: 2rem;
        height: 100%;
        .wholesale {
            background: #EEEEEE;
        }
        .shop {
            background: #E6E6E6;
        }
    }
}

main {
    margin: 0 4rem;
}

header {
    background: $themeWhite;
    position: fixed;
    padding: 2rem;
    width: 100%;
    top: 0;
    z-index: 10;
    .logo {
        position: absolute;
        top: 0;
        background: $themeWhite;
        border-radius: 100px;
        padding: 1rem;
    }
    .navigation {
        ul {
            li:not(last-of-type) {
                margin-right: 1.6rem;
            }
        }
    }
}

section {
    padding-bottom: 15rem;
    &.no-pad {
        padding-top: 0;
    }
    &.full-width {
        margin-left: -4rem;
        margin-right: -4rem;
    }
}

a {
    text-decoration: none;
    color: $themeBlack;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include transition(.2s all);
    &.loading {
        filter: blur(5px);
    }
}

.image-container {
    &.image-bleed-to-left {
        margin-left: -#{$siteMargin};
        width: calc(100% + #{$siteMargin});
        // Bleeds full screen on mobile
        @include mobileOnly {
            margin: 0 -2rem;
            width: calc(100% + 2rem + 2rem);
        }
    }
    &.image-bleed-to-right {
        margin-right: -#{$siteMargin};
        width: calc(100% + #{$siteMargin});
        @include mobileOnly {
            margin: 0 -2rem;
            width: calc(100% + 2rem + 2rem);
        }
    }
    &.image-bleed-full {
        margin: 0 -#{$siteMargin};
        width: calc(100% + #{$siteMargin} + #{$siteMargin});
        @include mobileOnly {
            margin: 0 -2rem;
            width: calc(100% + 2rem + 2rem);
        }
    }
    &.contain {
        img {
            object-fit: contain;
        }
    }
}

video {
    width: 100%;
    height: 100%;
}

button {
    padding: 1.5rem 2rem;
    border-radius: 4rem;
    border: none;
    cursor: pointer;
    &.primary {
        @include gradient(top left, $buttonPrimaryGradient);
        color: $themeWhite;
        &:hover {
            background-position: bottom right;
        }
    }
    &.secondary {
        background-color: $themeWhite;
        color: $themeBlack;
    }
    * {
        pointer-events: none;
    }
    &.text-link {
        background: none;
        padding: 0;
        margin-bottom: 1em;
        &:before {
            content: '← ';
            margin-right: 5px;
            display: inline-block;
        }
        &.next {
            &:before { content: ''; }
            &:after {
                content: ' →';
                margin-left: 5px;
                display: inline-block;
            }
        }
    }
}

.grid--single {
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
}

.collection--product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    &.card--product {
        .card--product-inner-grid {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            .image-container, .card--hover-overlay {
                grid-row: 1;
                grid-column: 1;
            }
            .card--hover-overlay {
                z-index: 3;
                opacity: 0;
                background: rgba(0,0,0,0.4);
                @include transition(.2s all);
                p {
                    @include translateY(10px);
                    @include transition(transform .2s ease-in-out)
                }
            }
            &:hover {
                .card--hover-overlay {
                    opacity: 1;
                    p {
                        @include translateY(0);
                    }
                }
            }
        }
    }
}
// *=================================*
// ====== WHOLESALE PAGE ======
// *=================================*
input {
    padding: 1rem 2rem;
    border: 1px solid #E6E6E6;
}

label {
    display: block;
}

.wholesale-checkbox {
    display: none;
    + label {
        width: 100px;
        height: 100px;
        margin-right: 20px;
        background: #E6E6E6;
        border-radius: 4px;
        text-align: center;
        font-weight: bold;
    }
    &:checked {
        + label {
            background: $themePurple;
            color: white;
        }
    }
}

.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    @include transition(0s transform 0.5s, 0.2s opacity 0.1s);
    &.hide {
        position: fixed;
        opacity: 0;
        top: 100vh;
    }
}